body {
  background-color: rgb(220, 220, 220, 0.7);
}
.navbar-light .navbar-brand {
  color: green;
  font-size: 30px;
  text-transform: capitalize;
  font-family: cursive;
  letter-spacing: 2px;
  font-family: cursive;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: white;
  font-size: 22px;
  font-family: cursive;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  font-size: 22px;
  background-color: rgb(0, 0, 0, 0.7);
}

.navbar-toggler {
  background: #fff;
}

.navbar-nav {
  text-align: center;
}

.nav-link {
  padding: 20px;
  font-family: cursive;
}

.nav-link.active,
.nav-link:focus {
  color: white;
}

.navbar-toggler {
  padding: 1px 5px;
  font-size: 13px;
  line-height: 0.3;
}

.na.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  font-family: cursive;
  color: crimson;
}
.drop {
  background-color: rgb(0, 0, 0, 0.7);
}

.drop a {
  color: white;
}
.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url("image/contactme.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.contact-form {
  background: #fff;
  margin-top: 10%;
  margin-bottom: 5%;
  width: 100%;
}
.contact-form .form-control {
  border-radius: 1rem;
}
.contact-image {
  text-align: center;
}
.contact-image img {
  border-radius: 6rem;
  width: 11%;
  margin-top: -3%;
  transform: rotate(29deg);
}
.contact-form form {
  padding: 14%;
}
.contact-form form .row {
  margin-bottom: -7%;
}
.contact-form h3 {
  margin-bottom: 8%;
  margin-top: -10%;
  text-align: center;
  color: #0062cc;
}
.contact-form .btnContact {
  width: 50%;
  border: none;
  border-radius: 1rem;
  padding: 1.5%;
  background: #dc3545;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}
.btnContactSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  color: #fff;
  background-color: #0062cc;
  border: none;
  cursor: pointer;
}
.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}
.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #737373;
}
.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #737373;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}

.flex {
  display: flex;
  justify-content: space-around;
}
.myrow2 {
  height: 300px;
}
.blocb {
  background-color: rgb(0, 0, 0, 0.7);
}
